.inputs {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 12px;
    
}
.inputs input {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;
}
.inputs input::placeholder {
    color: whitesmoke;

}
.inputs button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	/* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    background-color: transparent;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: whitesmoke;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}



.add-shoe {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url("./images/bg.jpg") center top;
    background-size: 80%;
    height: 90vh;

}
.add-shoe  h1 {
    text-align: center;
    padding: 2%;
    color: whitesmoke;
}
.shoe-container {
    display: flex;
    flex-wrap: wrap;
    
}
.shoe{
    width:25%;
    height: 1%;
    border: 1px solid  rgb(161, 185, 185);

    text-align: center;
    margin: 3%;
    padding: 2%;

}
.shoe-info {
font-size: 20px;
color: whitesmoke;


}
.shoe-info p {
    margin: 5px;
   
}
.shoe-info a {
    text-decoration: none;
}