.landing-page {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url("./images/bg.jpg") center top;
    background-size: 80%;
    height: 90vh;
}
.landing-page h1, p {
    text-align: center;
    padding: 2%;
    color: whitesmoke;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p {
    text-align: justify;
    border: 1px solid whitesmoke;
}